.card {
  background-color: #333333;
}

.otroColor {
  background-color: #646464;
  /* SE DEBE ELIMINAR UNO DE LOS DOS COLORES CUANDO SE ELIJA CON CUAL QUEDARSE */
}

.img-card {
  object-fit: cover;
  max-height: 390px;
}
