main {
  background-color: #141414;
  width: 100%;
  height: 100%;
}

h1,
h2,
p {
  color: white;
}

.card {
  background-color: #333333;
}

.otroColor {
  background-color: #564d4d;
  /* SE DEBE ELIMINAR UNO DE LOS DOS COLORES CUANDO SE ELIJA CON CUAL QUEDARSE */
}
